// Here you can add other styles

body {
  background: white;
}

.main .container-fluid {
  padding: 0 10px;
}
.breadcrumb {
  margin-bottom: 10px;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

// .navbar-toggler-icon {
//   background-image: 
//   url("data:image/svg+xml d='M1408 131q0 -120 -73 -189.5t-194 -69.5h-874q-121 0 -194 69.5t-73 189.5q0 53 3.5 103.5t14 109t26.5 108.5t43 97.5t62 81t85.5 53.5t111.5 20q9 0 42 -21.5t74.5 -48t108 -48t133.5 -21.5t133.5 21.5t108 48t74.5 48t42 21.5q61 0 111.5 -20t85.5 -53.5t62 -81 t43 -97.5t26.5 -108.5t14 -109t3.5 -103.5zM1088 1024q0 -159 -112.5 -271.5t-271.5 -112.5t-271.5 112.5t-112.5 271.5t112.5 271.5t271.5 112.5t271.5 -112.5t112.5 -271.5z'");
//   // url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://ww…p='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
// }

.btn {
  margin: 4px 6px 4px 0;
}
// .btn-primary {
//   background-color: rgb(41, 136, 46);
//   border-color: #20d82f;
// }

.ag-theme-balham {
  .ag-row:not(.ag-row-first) {
    border-width: 0;
  }
  font-size: 14px;
}

a {
  color: #20d82f;
  text-decoration: underline;
}

.app-header {
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
}

.sidebar {
  background-color: rgb(0, 0, 0);
  .nav-link.active {
    background-color: rgb(17, 54, 20);
    .nav-icon {
      color: #20d82f;
    }
  }
  .nav-link:hover {
    background-color: rgb(41, 136, 46);
  }
  .nav-title {
    color: #73818f;
  }
}

.breadcrumb {
  background: #272826;
  color: white;
}

.app-footer {
  background: #272826;
}

* {
  font-family: "Source Code Pro", monospace;
  font-family: "Roboto", sans-serif;
}

.app-body .main {
  min-width: 730px;
}

h4 {
    font-family: "Rosario", sans-serif;
}

html:not([dir="rtl"]) .aside-menu{
  margin-right: -800px;
}

.aside-menu {
  width: 800px;  
  margin-right: -800px;
}

html:not([dir="rtl"]) .aside-menu-show.aside-menu-fixed .main, html:not([dir="rtl"]) .aside-menu-show.aside-menu-fixed .app-footer, html:not([dir="rtl"]) .aside-menu-lg-show.aside-menu-fixed .main, html:not([dir="rtl"]) .aside-menu-lg-show.aside-menu-fixed .app-footer {
    margin-right: 800px;
}